---
layout: page
title: CONTACT 
permalink: /contact/
image: '/images/smk/SMK2.jpg'
---

Contact us for booking, collaborations, or just to say h
ello!

<h1>TROMLEORKESTRET</h1>
<ul>
    <li>Email: <a href="mailto:tromleorkestret@gmail.com">tromleorkestret@gmail.com</a></li>
</ul>

{% include social-links.html %}

<hr>

<h1>HJALTE BESTED HJORTH</h1>
<ul>
    <li>Email: <a href="mailto:hjalte.bested.hjorth@gmail.com">hjalte.bested.hjorth@gmail.com</a></li>
    <li>Phone: <a href="tel:+4523282926">+45 23 28 29 26</a></li>
</ul>

{% include social-links-hjalte.html %}

<hr>

<h1>SOFIE HJORTH SCHAUSEN</h1>
<ul>
    <li>Email: <a href="mailto:sofiehjorth@gmail.com">sofiehjorth@gmail.com</a></li>
    <li>Phone: <a href="tel:+4526369967">+45 26 36 99 67</a></li>
</ul>

{% include social-links-sofie.html %}

<hr>


